body {
    background-color: white;
}
div#mainGrid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
}
div#mainGrid div {
    text-align: center;
}
div#mainGrid div.name{
    grid-column-start: 1;
    padding: 2px 5px;
    gap: 10px;
    font-size: 2em;
    text-align: left;
}
div#mainGrid div.essen {
    grid-column-start: 1;
    padding: 2px 5px;
    text-align: left;
}
div#mainGrid div.email {
    grid-column-start: 1;
    padding: 2px 5px;
    text-align: left;
    font-style: italic;
}
div#mainGrid div.titleBar {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 5px;
    gap: 10px;
    background-color:rgba(93, 198, 77, 0.473);
    font-size: 1.5em;
    text-align: left;
}